NET ERROR_IN LOC = D9; 
NET ERROR LOC = T11; 

NET OPEN_DOORS LOC = R11;

NET CLK LOC = V10; 

NET SEL_FLOOR(3) LOC = T5; 
NET SEL_FLOOR(2) LOC = V8; 
NET SEL_FLOOR(1) LOC = U8; 
NET SEL_FLOOR(0) LOC = N8; 

NET SPEED_S LOC = T10; 

NET UP_PERS LOC = A8; 
NET DOWN_PERS LOC = C9; 

NET START_LIFT LOC = B8; 

NET CATOD_AFIS(0) LOC = T17; 
NET CATOD_AFIS(1) LOC = T18;
NET CATOD_AFIS(2) LOC = U17;
NET CATOD_AFIS(3) LOC = U18;
NET CATOD_AFIS(4) LOC = M14;
NET CATOD_AFIS(5) LOC = N14;
NET CATOD_AFIS(6) LOC = L14;

NET ANOD_AFIS(0) LOC = N16;
NET ANOD_AFIS(1) LOC = N15;
NET ANOD_AFIS(2) LOC = P18;
NET ANOD_AFIS(3) LOC = P17;