NET ERROR_IN LOC = D9; 
NET ERROR LOC = T11; 

NET CLK LOC = V10; 

NET FLOOR_NR(3) LOC = T5; 
NET FLOOR_NR(2) LOC = V8; 
NET FLOOR_NR(1) LOC = U8; 
NET FLOOR_NR(0) LOC = N8; 

NET SPEED_SWITCH LOC = T10; 

NET UP LOC = A8; 
NET DOWN LOC = C9; 

NET START_LIFT LOC = B8; 